<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FitSharp" version="2.2" targetFramework="net45" />
  <package id="Selenium.Support" version="2.47.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.47.0" targetFramework="net45" />
  <package id="Dummy" version="1.0.0.0" targetFramework="net45" />
</packages>